body {
    background: #76B952;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30%;
    text-align: center;
    margin: 70px;
}

.main-box {
    background: white;
}

input {
    background: #f2f2f2 important;
}

.Login-btn {
    background-color: #76B952;
    color: white;
}

.main-box {
    -webkit-box-shadow: 0px 0px 6px 6px #000000;
    box-shadow: 0px 0px 6px 6px #000000;
}