 @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
 /* .......... Universal Selector.............. *

 /* Universal Selector - Applies to all HTML elements Tags */

 * {
     margin: 0;
     /*Remove Default Margin from all elements */
     padding: 0;
     /*Remove Default Padding from all elements */
     box-sizing: border-box;
     /*Inclide padding and border in elements total width/height */

     font-family: "Google Sans", sans-serif;
     font-optical-sizing: auto;

     font-style: normal;
     font-variation-settings:
         "GRAD" 0;
     font-size: .975rem;

 }

 /*  Body - Main page container */
 body {
     background: white;
     /*  white background  */

     font-family: "Google Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
         "GRAD" 0;
 }

 /*  Gmail-container - Main wrapper for entire app */

 .gmail-container {
     height: 100vh;
     /*  full vieweport hight (100 of screen) */
     display: flex;
     /* flexbox layout */
     flex-direction: column;
     /* stack children vertically */
 }

 /*  Header Section CSS */
 .gmail-header {
     display: flex;
     text-align: center;
     /*  vertically center all items */
     padding: 8px 12px;
     /* px top/bottom, 12px left.right padding */
     height: 61px;
     /* fixed header height */
     background-color: #F8FAFD;

     position: fixed;
     z-index: 1;
     width: 100%;



 }

 .Header-search {
     max-width: 500px;
     background: #E9EEF6;
     border: 0px solid black;
     border-radius: 50px;
 }


 /*========= Side Bar CSS */

 .compose-btn {
     background: #C2E7FF;
     border: none !important;
     border-radius: 15px;
     font-weight: 600 !important;
     box-shadow: ba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
     color: #202124 !important;
     text-align: center;

 }

 .sidebar {
     padding: 9px;
     background: #f8fafd;
     position: fixed;
     bottom: 0;
     top: 8%;

 }


 .compose-btn:hover {
     background: #C2E7FF;
     box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15) !important;
 }

 .ul {
     list-style-type: none;
     padding: 0;
 }

 .sidebar-nav {
     padding-left: 10px;
 }

 .nav-item {
     padding: 10px 24px 0 20px !important;
     height: 32px;
     border-radius: 0 16px 16px 0 !important;
     font-size: 16px;
     color: #202124 !important;
     margin: 2px 0;
     text-decoration: row !important;
     display: flex;
     gap: 10px;
 }

 /* ============Main content */


 .main-content {
     display: flex;
     flex-direction: row;
     margin-left: 16%;
     margin-top: 4%;
     padding-left: 0;
     padding-right: 0px;
 }

 .box-1 {
     width: 95%;
 }

 .box-2 .header-icon-2 {
     width: 5% !important;
     background: #F8FAFD;
     position: fixed
 }




 .email-list {

     background: #fff;
     padding-left: 7px;
 }

 .email-row {
     height: 45px;
     cursor: pointer;
 }

 .star-btn {
     font-size: 25px;
 }

 .read {
     background: #F2F6Fc;
 }

 .unread {
     background: #FFFFFF;
     font-weight: bold;
 }

 .read .form-check-input {
     background: #F2F6Fc;
     border: 1px solid #BEC1C5;
 }

 .unread .form-check-input {
     background: #FFFFFF;
 }

 .email-row:hover {
     box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), rgba(60, 64, 67, 0.3), 0 1px 3px 1px;
     z-index: 2;
 }

 .img-icon {
     display: circle;
 }

 .sideslide-items {
     display: flex;
     flex-direction: column;
 }

 .main-navbar .ul {

     list-style-type: none;
     gap: 10px;
     padding: 10px 24px 0 20px !important;
     border-radius: 0 16px 16px 0 !important;
     font-size: 16px;
     color: #202124 !important;
     background: #FFFFFF;
 }

 .main-navbar .ul {
     display: flex;
     flex-direction: row;
     border-radius: 50px;
     margin-top: 4%;
 }

 .main-header {}

 .main-contenier {
     margin-top: 10px;
     height: 100vh;
     display: flex;
     flex-direction: column;

 }

 .main-nav-bar {
     flex-direction: row;
     margin-top: 10%;
 }

 .main-header-section {
     display: flex;
     text-align: center;
     padding: 8px 12px;
     height: 50px;
  
     position: fixed;
     z-index: 1;
     width: 100%;
     border: 0px solid white;
     border-radius: 50px;

     max-width: 80%;
     border: 0px solid white;
     border-radius: 5px;
     box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15) !important;



 }

 .main-nav-bar-section {
     margin-top: 8%;
     margin-bottom: 4%;
     margin-left: 4%;
     margin-right: 4%;

 }

 .main-side-header {
     margin-left: 60%;
 }

 
 

 .header-icon-2 {
     width: 25px !important;
     height: 25px;
     cursor: pointer;
     position: fixed;
     position: relative;


 }

 .box-2-sideslide {
     width: 56px;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 15px;
     border-left: 1px solid #e0e0e0f1;
     margin-bottom: 5%;
     /* position:absolute;
     position: fixed; */
 }


 .box-2-sideslide-botoom {
    margin-top: 50%;

 }