 /* .......... Universal Selector.............. *

 /* Universal Selector - Applies to all HTML elements Tags */

 * {
     margin: 0;
     /*Remove Default Margin from all elements */
     padding: 0;
     /*Remove Default Padding from all elements */
     box-sizing: border-box;
     /*Inclide padding and border in elements total wind */

 }

 /*  Body - Main page container */
 body {
     background: white;
     /*  white background  */
 }

 /*  Gmail-container - Main wrapper for entire app */

 .gmail-container {
     height: 100vh;
     /*  full vieweport hight (100 of screen) */
     display: flex;
     /* flexbox layout */
     flex-direction: column;
     /* stack children vertically */
 }

 /*  Header Section CSS */
 .gmail-header {
     display: flex;
     text-align: center;
     /*  vertically center all items */
     padding: 8px 12px;
     /* px top/bottom, 12px left.right padding */
     height: 61px;
     /* fixed header height */
     background-color: #F8FAFD;

 }

 .Header-search {
     max-width: 500px;
     background: #E9EEF6;
     border: 0px solid black;
     border-radius: 50px;
 }


 /*========= Side Bar CSS */

 .compose-btn {
     background: #C2E7FF;
     border: none !important;
     border-radius: 15px;
     font-weight: 600;
     box-shadow: ba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
     color: #202124 !important;
     text-align: center;

 }

 .sidebar {
    
     padding: 9px;
     background: #F8FAFD;
 }


 .compose-btn:hover {
     background: #C2E7FF;
     box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15) !important;
 }

 .ul {
     list-style-type: none;
     padding: 0;
 }

 .sidebar-nav {
     padding-left: 10px;
 }

 .nav-item {
     padding: 10px 24px 0 20px !important;
     height: 32px;
     border-radius: 0 16px 16px 0 !important;
     font-size: 16px;
     color: #202124 !important;
     margin: 2px 0;
     text-decoration: row !important;
     display: flex;
     gap: 10px;
 }

 /* ============Main content */


 .main-content {
     display: flex;
     flex-direction: column;
 }

 .email-list {
  
     background: #fff;
 }

 .email-row {
     height: 45px;
     cursor: pointer;
 }